*{
    padding: o;
    margin: 0;
    box-sizing: border-box  
 }
  :root{
  }

  
 .cabecalho{
    background-color: aqua;
    padding: 8px;
    
  
    
 }
 
 .cabecalho__menu{
    margin-left: 88%;
    margin-top: -2%;
 }
 
 
 .cabecalho__marca__nome{
    padding-left: 12vh;
    font-size: 40px;
    
    
 }
 .cabecalho__marca{
    
}
 
 .cabecalho__marca__logo{
    margin-top: 2%
 }
 
 
 .cabecalho__menu__link{
    font-size: 20px;
    text-decoration: none;
    margin-bottom: 0px;
    border: 1px solid;
    border-radius: 10%;
    
 }
 
 .cabecalho__marca__logo{
    height: 88px;
    padding-left: 18px;
 }
 
 
 
 
 .apresentacao__conteudo{
 }
 
 .apresentacao__conteudo__titulo{
    margin-left: 6%;
    font-size: 32px;
 }
 
 
 .apresentacao__conteudo__texto{
    margin-left:8%;
    font-size: 20px;
    width: 39%;
 }

 .apresentacao__links__subtitulo{
    margin-left:6%;
 }

 .apresentacao__imagem{
    margin-left:65%;
    border: solid 1px;
    border-radius: 10%;
    margin-top: -100vh;
    height: 43vh;

 }

 .softskills{
  background-color: aqua;
  
 }

 .textosoft{
  background-color: gray;

 }

 #soft{
  background-color: red;

 }
 
 .footer{
    background-color: aqua;
 }
